@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1024px){
    header div nav{
        position: relative !important;
        top: 0 !important;
    }
    nav ul li ul{
        position: absolute;
    }
}

nav ul li ul img {
    margin-right: 10px !important;
}
nav ul li ul li{
    cursor: pointer;
}
nav ul li:nth-child(1) div i{
    cursor: pointer;
    padding-top: 6px !important;
    margin-left: 8px !important;
}
.hidde{
    display: none !important;
}